#service vendor.power /vendor/bin/hw/android.hardware.power-service-qti
service vendor.power /vendor/bin/hw/android.hardware.power.samsung-service
    override
    class hal
    user system
    group system input
